items assets kind software-package url http://down.weapp.com/apps/zb/002/96/76/65/5a6ee1081a2ab4e161a1f187.ipa kind display-image needs-shine urlhttps://pbs.twimg.com/media/DVEPVbIWkAAyHmG?format=png kind full-size-image needs-shine url https://pbs.twimg.com/media/DVEPVbIWkAAyHmG?format=png metadata bundle-identifier com.toyopagroup.picaboo bundle-version 10.18.1 kind software title SCOthman